:root{
/* ### Primary */
--Dark-cyan: hsl(185, 75%, 39%);
--Very-dark-desaturated-blue: hsl(229, 23%, 23%);
--Dark-grayish-blue: hsl(227, 10%, 46%);
/*### Neutral */
--Dark-gray: hsl(0, 0%, 59%);
}
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body{

    font-size: 18px;
    font-family: 'Kumbh Sans', sans-serif;
}
.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(/images/bg-pattern-top.svg),url(/images/bg-pattern-bottom.svg);
    background-repeat: no-repeat no-repeat;
    background-position: right 44vw bottom 25vh,left 44vw top 44vh;
    background-color: var(--Dark-cyan);
}
.card-container{

    width: 300px;
    height: auto;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}
.image-container{
    background-image: url(/images/bg-pattern-card.svg);
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}
.image-container img{

    position: relative;
    top: 45px;
    border-radius: 50%;
    background-color: white;
    padding: 0.2rem;
}
.text-container{
    text-align: center;
   

}
h1{

    font-size: 1.5rem;
    font-weight: 700;
}
span{

    position: relative;
    bottom: 4px;
    font-size: 0.8em;
    color: var(--Dark-gray);
}

h2{

    color: var(--Dark-gray);
    font-size: 1rem;
    font-weight: 700;
}

footer{

    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
    
}

footer h2{
    color:black;
    font-size: 1.5rem;
}

footer p {

    font-size: 1rem;
    color: var(--Dark-gray);
    position: relative;
    bottom: 15px;
}

/* Media Query */

@media(min-width:30em){

    .card-container{

        width: 350px;
    }
}